<?xml version="1.0" encoding="UTF-8"?>


<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">


	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>com.revanwang.servlet.test.TestServlet</servlet-class>
	</servlet>
	
	<!-- 向外曝露该Servlet类的一个资源名称，共外界访问，该资源名称必须要以 / 开头 -->
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>

</web-app>
